.content,
.contentcontainer,
.feed {
  display: flex;
  justify-content: flex-start;
}
.contentcontainer {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: 46px;
}
.content,
.feed {
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
}
.feed {
  align-self: stretch;
  background-color: var(--background-color);
}
.content {
  position: relative;
  border-radius: var(--br-base);
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .content {
    padding-left: var(--padding-29xl);
    padding-right: var(--padding-29xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .content {
    padding-left: var(--padding-xs);
    padding-right: var(--padding-xs);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .content {
    padding-left: var(--padding-xs);
    padding-right: var(--padding-xs);
    box-sizing: border-box;
  }
}
